.menu-section{
    padding:100px 40px;
    background:#f8f8f8;
}

.menu-section h2{
    text-align:center;
    font-size:42px;
    margin-bottom:60px;
    color:#222;
}

.menu-grid{
    max-width:1400px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(5,1fr);

    gap:25px;
}

.menu-card{

    height:300px;

    border-radius:25px;

    text-decoration:none;

    position:relative;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    transition:all .4s ease;

    box-shadow:
    0 10px 25px rgba(0,0,0,.12);

    background-size:cover;
    background-position:center;
}

.menu-card::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
    to top,
    rgba(0,0,0,.55),
    rgba(0,0,0,.15)
    );

}

.menu-card:hover{

    transform:
    translateY(-8px)
    scale(1.03);

    box-shadow:
    0 25px 40px rgba(0,0,0,.25);

}

.menu-title{

    position:relative;

    z-index:2;

    color:white;

    font-size:28px;

    font-weight:700;

    text-align:center;

    letter-spacing:2px;
}

@media (max-width:1200px){

.menu-grid{
grid-template-columns:repeat(3,1fr);
}

}

@media (max-width:768px){

.menu-grid{
grid-template-columns:repeat(2,1fr);
}

.menu-card{
height:220px;
}

.menu-title{
font-size:22px;
}

}

@media (max-width:500px){

.menu-grid{
grid-template-columns:1fr;
}

}
